
body {				/*Keeps everything in the viewport*/
	overflow: hidden;
	font-family: 'Zilla Slab', serif;
}

.container {		/*Controls the page grid*/
	display: grid;
	height: 100vh;
	width: 100vw;
	grid-template-columns: 1fr 3fr;
	gap: 0;
	margin: -10px;
	}

.middle { 			/*Conrtols the middle section grid*/
	display: grid;
	grid-template-rows: 4em 1fr 3em;
	overflow: hidden;
	gap: 0;
}

#sideBar {
	background-color: #3399cc;
	text-align: center;
}
#header {
	
	padding-left: 25px;
}
#main {
	overflow-y: scroll;
	padding: 25px;
	background-color: #ffffff;
	border: solid 2px #3399cc;
	
}
#firstLast {
	background-color: #fff;
	margin-top: 4em;
	height: 8em;
}
h1 {
	font-family: 'Domine', serif;
}
.resumeHead {
	display: block;
	background-color: #a0d2eb;  
	margin: -10px; 
}

#firstLast>h1{ 
	color: #3399cc;
	padding: 1em 0;
}
ul {
	text-align: left;
	margin: 20px;
	list-style: none;
}
a:link {		/*Sidebar Link States*/
	text-decoration: none;
	color: #ffffff;
	font-size: 110%; 
}
a:visited {
	text-decoration: none;
	color: #bbbbbb;
}
a:hover {
	text-decoration: none;
	font-weight: bold
}
a:active {
	text-decoration: none;
	color: #ddd;
}
.projectGallery {
	display: grid;
	grid-template-columns: 1fr 2fr;
}
iframe {
	padding-left: 10%;
	border: none;
}
/*	Fonts 
	font-family: 'Domine', serif;
	font-family: 'Zilla Slab', serif;
	
	Colors
	background-color: #3399cc;
*/